<!-- Placeholder for show -->
<div>      
  <div class="user">
    <div class= "user-photo">
      <%= image_tag(@user.photo, alt: @user.name, class: "photo") %>
      </div>
      <div class="user-details">
        <h1><%= @user.name %></h1>
        <span>No of Posts: <%= @user.posts.count %></span>
      </div>
    </div>
  <div class=bio>
    <h2>Bio:</h2>
    <h3><%= @user.bio %></h3>

  </div>
  <div >
    <% @user.posts.each do |post|%>
    <div class= "user-posts">
      <h2>Post #<%= post.id %></h2>
      <p><%= post.text %></p>
      <p class= "comments-likes">Comments: <%= @user.comments.count %>, Likes: <%= @user.likes.count %> </p>
    </div>   
    <% end %>
  </div>
  <div class="all-posts-button">
    <%= link_to "See all posts", user_posts_path(@user) %>
  </div>
  <button onclick="goBack()" class="back-button">Back</button>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
