<!-- Placeholder for show -->
<div>      
  <div class="user">
    <div class="user-photo">
    <% if @user.photo.present? %>
      <%= image_tag(@user.photo, alt: @user.name, class: "photo") %>
    <% else %>
      <!-- Add a default image or placeholder here -->
      <%= image_tag("default_image.png", alt: "Default Image", class: "photo") %>
    <% end %>
  </div>
      <div class="user-details">
        <h1><%= @user.name %></h1>
        <span>No of Posts: <%= @user.posts.count %></span>
      </div>
    </div>
    <button><%= link_to 'Back to Users List', users_path %></button>
  <div class=bio>
    <h2>Bio:</h2>
    <p><%= @user.bio %></p>

  </div>
  <div >
    <% @user.recent_posts.each do |post| %>
      <% @post = post %>
     <div class= "user-posts">
     <h2><%= link_to "#{post.title}", user_post_path(@user, post) %>
      </h2>
      <p><%= post.text %></p>
      <p class= "comments-likes">Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %> </p>
    </div>   
    <% end %>
  </div>
  <div class="all-posts-button">
    <%= link_to "See all posts", user_posts_path(@user) %>
  </div>
</div>
