<!-- Placeholder for index -->
<div>
  <div class="user">
    <div class="user-photo">
      <%= image_tag(@user.photo, alt: @user.name, class: "photo") %>
    </div>
    <div class="user-details">
      <h1><%= @user.name %></h1>
      <span>No of Posts: <%= @user.posts.count %></span>
    </div>
  </div>
  <button><%= link_to 'Back to Profile', user_path(@user) %></button>
   <!-- Link to create a new post -->
  <button><%= link_to "Create a New Post", new_user_post_path(@user) %></button>
  <h2>All posts by User<h2> 

  <% @posts.includes(:author).each do |post| %> 
    <div class="user-posts">
      <h2><%= link_to "Post ##{post.title}", user_post_path(@user, post) %></h2>
      <%= post.text %>
      <p class="comments-likes">Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %> </p>
      <hr>
      <button><%= link_to "Add comment", new_user_post_comment_path(post.author, post) %></button>
      <% post.recent_comments.includes(:user).each do |comment| %>
        <p><%= comment.user.name %>: <%= comment.text %></p>
      <% end %>
    </div>
  <% end %>
</div>
<%= will_paginate @posts %>
