<!-- Placeholder for index -->
<div>
  <div class="user">
    <div class="user-photo">
      <%= image_tag(@user.photo, alt: @user.name, class: "photo") %>
    </div>
    <div class="user-details">
      <h1><%= @user.name %></h1>
      <span>No of Posts: <%= @user.posts.count %></span>
    </div>
  </div>
   <!-- Link to create a new post -->
  <button><%= link_to "Create a New Post", new_user_post_path(@user) %></button>
  
  <% @posts.each do |post| %>
    <div class="user-posts">
      <h2><strong><%= link_to "Post ##{post.id}", user_post_path(@user, post) %>
</strong> </h2>
      <p><%= post.text %></p>
      <p class="comments-likes">Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %> </p>
      <hr>
      <button><%= link_to "Add comment", new_user_post_comment_path(post.author, post) %></button>
      <% post.recent_comments.each do |comment| %>
        <p><strong><%= comment.user.name %>: </strong> <%= comment.text %></p>
      <% end %>
    </div>
  <% end %>
  <button><%= link_to 'Back to Profile', user_path(@user) %></button>
</div>
