<div class="user-posts">
    <div class="single-post">
    <% if can? :destroy, @post %>
      <%= button_to "Delete Post", user_post_path(@post.author, @post), method: :delete, data: { confirm: "This post will be permanently removed. Do you want to proceed?" } %>
    <% end %>
    <h2><strong> Post #<%= @post.title %> by <%= @user.name %></strong> </h2><span>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></span>
    </div>
    <p><%= @post.text %></p>
    <hr>
      <%= form_with(model: [@post, @like], url: user_post_likes_path(@post.author, @post), method: :post) do |form| %>
     <%= form.submit 'Like', class: 'button' %>
      <% end %>
    <h3 class="leave-comment"><strong><%= link_to "Leave a comment", new_user_post_comment_path(@post.author, @post) %></strong></h3>
      <% @post.comments.includes(:user).each do |comment| %>
      <p>
        <strong><%= comment.user.name %>:</strong> <%= comment.text %>
        <% if can? :edit, comment %>
        <%= link_to "Edit", edit_user_post_comment_path(@post.author, @post, comment) %>
        <% end %>
        <% if can? :destroy, comment %>
          <%= button_to "Delete", user_post_comment_path(@post.author, @post, comment), method: :delete, data: { confirm: "This comment will be permanently removed. Do you want to proceed?", class: 'delete'  } %>
        <% end %>
      </p>
<% end %>

</div>
<small>&nbsp;&nbsp;&nbsp;** Selected posts by a Specified User</small>
<br>
<button><%= link_to 'Back', user_posts_path(@user) %></button>
